# Ignore temp and cache folders
tmp/
log.txt

# Ignore transient SQLite files
*.sqlite-shm
*.sqlite-wal

# Optional: uncomment to exclude main DB
# database.sqlite

# Ignore system clutter
.DS_Store
Thumbs.db
desktop.ini
GUTS_99_PUBLICATIONS_ELECTRONIC_LIBRARY_G99PEL/Research_Publications_PDF/Manual of Structural Kinesiology, 22nd Edition (R .T. Floyd)9781266224652 (Z-Library).pdf
